@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* 顏色 */
  --primary-color: #3c71ff;
  --secondary-color: #000000;

  --accent-primary-color: #d71920;
  --accent-secondary-color: #f5c4c6;

  --background-primary-color: #f0f4ff;
  --background-secondary-color: #f1f5ff;

  --text-primary-color: #000000;
  --text-secondary-color: #757575;

  --checkbox-primary-color: #ababab;

  /* 字體大小 */
  --font-size-small: 13px;
  --font-size-medium: 14px;
  --font-size-large: 18px;
  --font-size-xlarge: 30px;

  /* 行高 */
  --line-height-small: 15.8px;
--line-height-medium: 16.8px;
  --line-height-large: 21.6px;
  --line-height-xlarge: 36px;

  /* 圓角 */
  --border-radius-small: 2px;
  --border-radius-medium: 4px;

  /* 間距 */
  --spacing-small: 8px;
  --spacing-medium: 1rem;
  --spacing-large: 20px;
  --spacing-xlarge: 2rem;

  --vt-c-blue-light: #f0f4ff;
  --vt-c-blue: #3c71ff;

  --vt-c-red-light: #f1f5ff;
  --vt-c-red-light: #f1f5ff;

  --vt-c-green-light: #4ae7a5;
  --vt-c-gray-light: #757575;
  --vt-c-gray: #ababab;

  --vt-c-white: #ffffff;
  --vt-c-black: #000000;

  --vt-c-divider-blue-1: var(--vt-c-blue);
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-blue-1: var(--vt-c-blue);
  --vt-c-text-light-1: var(--vt-c-gray);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: #000000;
  --vt-c-text-dark-2: #757575;
}

/* semantic color variables for this project */
:root {
  /* --color-background: var(--vt-c-white); */
  --color-background: var(--vt-c-blue-light);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 16px;
  font-family: 'Overpass', sans-serif;
  background: var(--color-background);
}

.v-enter-active,
.v-leave-active {
  transition: opacity .5s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-enter-to,
.v-leave-from {
  opacity: 1;
}